<div class="container" style="width: 50%;text-align: center;align-items: center">
    <app-ticket #ticket *ngIf="latestTicket"[ticket]='latestTicket'></app-ticket>
    <div *ngIf="!ready; else elseTemplate" class='spinner'>
        
    </div>
    <ng-template #elseTemplate>
        <div class="lotto-container">
                <div class="ball-container"> 
                        <app-lotto-ball *ngFor="let item of ballnumbers" [number]=item>
                
                        </app-lotto-ball>
                      
                </div>
                <div class="stats">
                <p>Number of: 
                        <br>
                        Threes:{{threes}}
                        <br>
                        Fours:{{fours}}
                        <br>
                        Fives:{{fives}}
                        <br>
                        Sixes:{{sixes}}
                        <br>
                        Sevens:{{sevens}}
                        <br>
                </p>
            </div>
        </div>
         
   
    <div>Winning combination: {{winningCombo.toString()}}</div>
   
    
   
    <!-- <button (click)="draw()">Draw!</button> -->
    <button (click)="test()">Draw</button>
    <!-- <button (click)="pull()">pull</button> -->
    </ng-template>
</div>