/* You can add global styles to this file, and also import other style files */
.ticket-grid{
    display: grid;
    grid-template-rows: 20px 20px 20px;
    grid-template-columns: repeat(13,auto);
    row-gap: 1px;
    /*border: 1px black solid;*/
    border-radius: 2px;
    text-align: center;
}
.ticket-grid-table {
    width:100%;
}

.ticket{
    display: flex;
    align-items: center;
    width: 70%;
    text-align: center;
    justify-content: center;
}
.ticket-field{
    border: 1px black solid;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.no-select{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.highlightTicket{
    background-color: #337ab7;
    color: #fff;
}
.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
    left:50%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .ball {
      border-radius: 50%;
      border: 2px solid black;
 
      margin: 2px;
      height:25px;
      width: 25px;
      vertical-align: middle;
      justify-content: center;
      position: absolute;
  }

  .ball-container{
      display: flex;
      flex-wrap: wrap;
  }